html { overflow-y: auto }

 /* Custom button styles */
 /* .custom-primary-button {
    background-color: #274C77;
    color: #E7ECEF;
    font-weight: bold;
    border: 2px solid #E7ECEF; 
  } 

    .custom-primary-button:hover{
      background-color: #6096BA;
    } */
    .custom-primary-button {
      margin: 0;
      padding: 0;
      background-color: #E7ECEF;
      color: black;
      font-weight: bold;
      border: 2px solid #E7ECEF; 
    } 
  
      .custom-primary-button:hover{
        background-color: #274C77;
        color: #E7ECEF;
      } 